/* Global variables */
:root {
  --special-color: #f85e9f;
  --btn-color: #5d50c6;
  --dark: #222831;
  --orange: #ff5722;
  --grey-text-color: rgba(25, 24, 37, 0.5);
  --main-width: 1184px;
  --main-duration: 0.5s;
}
/* End G V  */
/* Global styles  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@font-face {
  font-family: "Circular Std Medium";
  src: url("fonts/circular-std-medium-500.ttf") format("ttf"),
    url("fonts/FontsFree-Net-CircularStd-Bold.ttf") format("ttf");
}
body {
  font-family: "Circular Std Medium";
  color: var(--dark);
  max-width: 100vw;
}
p {
  margin: 0;
  display: inline-block;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: bold;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
i {
  text-align: center;
}
.container {
  width: var(--main-width);
  padding: 50px 10px;
}

/* End global styles  */

/* header styles  */
header {
  display: flex;
  justify-content: center;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  opacity: 0.5;
  background: #ff5722;
  filter: blur(250px);
  left: -250px;
  top: -250px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
}
header .menu {
  padding: 5px;
  background-color: var(--btn-color);
  border: 1px solid transparent;
  border-radius: 8px;
  display: none;
}
header .menu i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 25px;
}
.logo p {
  padding: 5px;
  font-weight: 900;
}
header nav ul {
  display: flex;
  gap: 40px;
}
nav a {
  color: var(--grey-text-color);
  font-size: 14px;
  transition: var(--main-duration);
}
nav li:first-child a,
nav li:hover a {
  color: var(--dark);
}
@media (max-width: 1024px) and (min-width: 431px) {
  header .menu {
    display: inline-block;
  }
  header nav {
    display: none;
  }
}
header .buttons {
  position: relative;
}
header button:first-of-type {
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 10px 25px;
  transition: var(--main-duration);
}
header button:last-of-type {
  border: none;
  background-color: transparent;
  padding: 10px 25px;
  color: white;
  font-size: 14px;
  transition: var(--main-duration);
}
header .buttons-animate {
  position: absolute;
  width: 100px;
  height: 36px;
  background-color: var(--btn-color);
  border: 1px solid transparent;
  border-radius: 100px;
  top: 0px;
  left: 88px;
  z-index: -1;
  transition: var(--main-duration);
}
header button:first-of-type:hover ~ .buttons-animate {
  transform: translateX(-90px);
}
header button:first-of-type:hover {
  color: white;
}
header button:first-of-type:hover + button:last-of-type {
  color: var(--dark);
}
@media (max-width: 432px) {
  header .menu {
    display: inline-block;
  }
  header nav {
    display: none;
  }
  header .buttons {
    display: none;
  }
  header .container {
    flex-direction: row-reverse;
  }
}
/* End header styles  */

/* Landscape styles  */
.landscape {
  display: flex;
  justify-content: center;
}
.landscape .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.side-text p:first-of-type {
  color: var(--special-color);
  padding: 16px 32px;
}
.side-text h1 {
  font-size: 60px;
  font-weight: 700;
}
.side-text span {
  color: var(--special-color);
}
.side-text .paragraph p {
  color: var(--grey-text-color);
  width: 350px;
  padding: 0;
  font-family: inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .landscape .container {
    width: min(896px, 100%);
    flex-direction: column-reverse;
  }
  .side-text {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .side-text .paragraph {
    display: flex;
    flex-direction: column;
  }
}
.side-text button {
  padding: 15px 25px;
  border: transparent;
  border-radius: 100px;
  margin-left: 10px;
  background-color: transparent;
}
.side-text button:first-of-type {
  background-color: var(--btn-color);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.side-text button i {
  color: var(--btn-color);
  padding: 5px;
}
.side-img {
  display: flex;
  justify-content: flex-end;
}
.side-img img {
  width: min(100%, 650px);
}
@media (max-width: 1024px) {
  .side-img {
    justify-content: center;
  }
}

/* Sponsors styles  */

.sponsors {
  display: flex;
  justify-content: center;
}
.sponsors .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.sponsors img {
  margin-bottom: 20px;
  padding: 5px;
  height: 37px;
}
.sponsors-object {
  display: flex;
  position: absolute;
  left: -20px;
  top: -100px;
}
.sponsors-object img {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  height: 100px;
}
@media (max-width: 1024px) {
  .sponsors .container {
    justify-content: center;
  }
}

/* Services Styles */

.services {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.services::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  opacity: 0.5;
  background: #facd49;
  filter: blur(250px);
  right: -250px;
  top: -250px;
  z-index: 1;
}
.services .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  padding: 250px 10px;
}
.services .special-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 400px;
  flex-shrink: 0;
}
.special-title p {
  color: var(--special-color);
  padding-left: 20px;
}
.special-title h2 {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: min(100%, 400px);
}
.services .services-area {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(50%, -50%);
}
.services .services-area .service {
  display: flex;
  flex-shrink: 0;
  height: 443px;
  width: 300px;
  padding: 36px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.services .service img {
  width: 64px;
  height: 64px;
  margin-bottom: 64px;
}
.services .service h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 32px;
}
.services .service p {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--grey-text-color);
}
@media (max-width: 1150px) {
  .services .container {
    width: min(896px, 100%);
    flex-direction: column;
    align-items: center;
    padding: 100px 10px;
    text-align: center;
  }

  .services .special-title {
    align-items: center;
    padding-bottom: 20px;
  }

  .services .special-title h2 {
    width: 350;
  }

  .services .special-title p {
    padding: 0;
  }

  .services .services-area {
    padding: 20px;
    position: static;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
    top: auto;
    right: auto;
    transform: none;
  }

  .services .service {
    width: calc(50% - 20px);
  }
}
@media (max-width: 450px) {
  .services .container {
    width: 360px;
  }
}
/* Destination styles */

.destinations {
  display: flex;
  justify-content: center;
}
.destinations .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 10px;
}
.destinations .special-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.special-heading .special-title h2 {
  width: 500px;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(25, 24, 37, 0.1);
  font-family: inter;
  font-weight: 100;
  transition: var(--main-duration);
}
.nav-btn .btn:first-child:hover,
.nav-btn .btn:last-child {
  background-color: var(--btn-color);
  color: #fff;
}
.destination-area {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.destination-area .dest {
  margin: 0 10px 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.destination-area .dest img {
  height: 300px;
  width: 300px;
}
.destination-area .dest .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15px;
  text-align: start;
}
.destination-area .dest .description .info {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}
.description .info p {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: var(--dark);
}
.fa-star {
  color: var(--orange);
  padding: 0 10px;
}
.dest .description .info + p {
  color: var(--special-color);
}
@media (max-width: 1150px) {
  .destinations .container {
    width: min(896px, 100%);
    flex-direction: column;
    align-items: center;
    padding: 100px 10px;
    text-align: center;
  }

  .destinations .special-heading {
    flex-direction: column;
  }

  .destinations .special-title {
    align-items: center;
    padding-bottom: 20px;
  }

  .special-heading .special-title h2 {
    width: 100%;
  }

  .destinations .destination-area {
    padding: 20px;
    justify-content: center;
  }

  .services .service {
    width: calc(50% - 20px);
  }
}
@media (max-width: 450px) {
  .destinations .container {
    width: 360px;
  }
}

/* Travel point  */

.travel-point {
  display: flex;
  justify-content: center;
}
.travel-point .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 10px;
}
.travel-point .container img {
  width: 60%;
  margin-bottom: 30px;
}
.description {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.description p:first-child {
  font-size: 18px;
  font-weight: 500;
  color: var(--special-color);
}
.description h2 {
  font-size: 40px;
  color: var(--dark);
  font-weight: 700;
  padding-bottom: 5px;
}
.description p:last-child {
  font-size: 15px;
  font-weight: 300;
  color: var(--grey-text-color);
}
.properties {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 80px;
}
.propertie {
  padding: 40px;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #fff;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.propertie h3 {
  color: var(--orange);
}
@media (max-width: 1150px) {
  .travel-point .container {
    width: min(896px, 100%);
    flex-direction: column;
    align-items: center;
    padding: 100px 10px;
    text-align: center;
  }
  .properties {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media (max-width: 450px) {
  .travel-point .container {
    width: min(360px, 100%);
  }
  .properties {
    gap: 20px;
  }
}

/* Features Styles */

.features {
  display: flex;
  justify-content: center;
}
.features .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 10px;
}
.features img {
  width: 45%;
}
.features .description {
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  padding-right: 20px;
  height: 100%;
}
.features .description .features-area {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features .feature {
  display: flex;
  align-items: center;
  gap: 20px;
}
.features-area .feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: var(--orange);
}
.features-area h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
@media (max-width: 1150px) {
  .features .container {
    width: min(896px, 100%);
    flex-direction: column-reverse;
  }
  .features .description {
    align-items: center;
    align-items: center;
    text-align: center;
  }
  .feature {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .features .container {
    width: min(360px, 100%);
  }
  .properties {
    gap: 20px;
  }
}

/* Testimonials styles */

.testimonials {
  display: flex;
  justify-content: center;
}
.testimonials .container {
  display: flex;
  position: relative;
  overflow: hidden;
}
.testimonials #test-obj {
  position: absolute;
  width: 120%;
  top: -10%;
  z-index: -1;
}
@media (max-width: 450px) {
  .testimonials #test-obj {
    top: 20%;
  }
}
.testimonials .btn {
  display: flex;
  align-items: center;
}
.testimonial {
  width: 80%;
}
.testimonials .client {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.testimonials .description {
  margin-bottom: 50px;
  text-align: center;
}
.testimonials .client img {
  width: 100px;
}
.testimonials .client .client-name {
  display: flex;
  gap: 5px;
  text-align: center;
  align-items: center;
}
@media (max-width: 450px) {
  .testimonials .client .client-name {
    flex-direction: column;
  }
}
.testimonials .client p {
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: var(--grey-text-color);
  width: 80%;
}
.testimonials .circles {
  display: flex;
  gap: 5px;
  align-items: center;
}
.testimonials .circles i {
  font-size: 15px;
  color: var(--grey-text-color);
}
.testimonials .circles i:nth-child(2),
.testimonials .circles i:hover {
  font-size: 18px;
  color: var(--special-color);
}

@media (max-width: 1150px) {
  .testimonials .container {
    width: min(896px, 100%);
  }
}
@media (max-width: 450px) {
  .testimonials .container {
    width: min(360px, 100%);
  }
}

/* Subscribe section styles */

.subscribe {
  display: flex;
  justify-content: center;
  padding: 100px 10px;
}
.subscribe .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  background-color: rgba(250, 205, 73, 0.08);
  position: relative;
}
.subscribe .container::after {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  background-image: url(../images/Graphic_Elements.png);
  background-size: cover;
  left: -50px;
  top: -50px;
}
.subscribe .container .description {
  text-align: center;
  margin-bottom: 60px;
}
.subscribe .inputs {
  display: flex;
  gap: 50px;
  width: 100%;
  padding: 20px;
}
@media (max-width: 450px) {
  .subscribe .inputs {
    flex-direction: column;
  }
}
.subscribe .inputs .your-email {
  padding: 5px;
  background-color: #fff;
  border: 2px solid var(--dark);
  border-radius: 10px;
  flex: 1 1 0;
  min-width: 200px;
  display: flex;
  align-items: center;
}
.subscribe .inputs .your-email i {
  font-size: 25px;
  color: var(--grey-text-color);
  padding: 5px;
}
.your-email input {
  border: none;
  padding: 10px;
  flex: 1;
  max-width: 80%;
}
.inputs button {
  padding: 25px 40px;
  border: transparent;
  border-radius: 20px;
  background-color: var(--btn-color);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 1150px) {
  .subscribe .container {
    width: min(896px, 100%);
  }
}
@media (max-width: 450px) {
  .subscribe .container {
    width: min(360px, 100%);
  }
}

/* Footer styles */

footer {
  display: flex;
  justify-content: center;
  position: relative;
}
footer .container::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 250px;
  background-image: url(../images/OBJECTS.png);
  background-size: cover;
  right: 0px;
  bottom: 100%;
}
footer .container {
  display: grid;
  grid-template-columns: auto repeat(3, 250px);
  max-width: 100vw;
}
footer .about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
footer .about p {
  font-size: 15px;
  font-weight: 300;
  color: var(--grey-text-color);
}
footer .about .social i {
  padding: 5px;
  color: var(--btn-color);
}
footer .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .links ul {
  padding: 0;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: var(--grey-text-color);
}
@media (max-width: 1150px) {
  footer .container {
    width: min(896px, 100%);
    display: flex;
    flex-direction: column;
  }
  footer .about {
    min-width: 200px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 450px) {
  footer .container {
    width: min(360px, 100%);
  }
}
